
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@font-face {
    font-family:'Kashima' ;
    src: url(../fonts/Kashima\ Demo.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}

/*  tipos de formatos otf : 
    -opentype ( OTF ) 
    -truetype ( TTF )
    -embedded-opentype  
    -truetype-aat ( Apple advanced tipography ) 
    -svg
*/

body {
    font-family: Kashima , Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);


}

h1 { 
    font-family: 'Kashima', sans-serif;
}

h2 {
    font-family: 'Kashima', sans-serif; 
}

p {
    font-size: 23px;
}