 * {
    margin: 0px;
    padding: 0px;
    
 }

  :root {
    --fonte1 :  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2 : 'Passion One', sans-serif;
    --fonte3 : 'Sriracha', cursive;
  }

  html , body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
  }

  header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1px;
    font-family: var(--fonte2);
    font-size: 5vw;

  }

  header h1 {
    padding-top: 50px;
    font-variant: small-caps;
  }

  header > p  {
    padding-bottom: 50px;
  }

  header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

  }

  header a:hover , footer a:hover {
    text-decoration: underline;
    transition: 1s;
  }

  section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2.0em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3vw;
  }

  section.normal {
    background-color: white;
    color: black;
  }

  section.imagem {
    background-color: rgb(44, 44, 44);
    color: white;
  }

  section.imagem > p {
    background-color: rgba(0, 0, 0, 0.356);
    display: inline-block;
  }


  footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 9px;
  }